@charset "UTF-8";

/* Celular */

:root {
    --fonte01:'Rock Salt', cursive;
    --fonte02: 'Ysabeau', sem serifa;
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

html::-webkit-scrollbar-track {
    border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin-bottom: 20px;
}

header > i {
    padding: 10px;
    cursor: pointer;
}

/* Aplicar JavaScript no MENU */

header > menu {
    font-size: 1em;
    text-align: left;
    padding: 10px;
    display: none;
}

header > menu > i {
    margin-right: 20px;
    color: black;
    cursor: pointer;
}

header > #titulo > h1 {
    text-align: center;
    font-size: 2.5em;
    font-family: var(--fonte01);
    font-variant: small-caps;
    letter-spacing: 7px;
}

header > #titulo > p {
    text-align: center;
    font-style: italic;
    font-size: 1em;
    font-weight: bold;
    font-family: var(--fonte02);
}

main {
    display: block;
    margin: auto;
    width: 100vw;
    text-align: justify;
    padding: 10px;
    border-radius: 10px;
    font-family: var(--fonte02);
}

main > h2 {
    font-size: 1.5em;
    text-indent: 20px;
    font-family: var(--fonte01);
    letter-spacing: 4px;
}

main > p {
    font-size: 1.1em;
    padding: 0 8px;
    margin: 15px 0;
    text-indent: 20px;
    line-height: 27px;
}

main > p > a {
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}

main > p > a:hover {
    text-decoration: underline;
}